

<section class="container-fluid m-0 pt-3 section">

    <div class="container" dir="ltr">

        <div class="row align-items-center">

            <div class="col-md-6 d-flex justify-content-center pb-4">
                <img src="~/themes/IranFlutter/src/blog cover.png" class="img" style="width: 100%;" />
            </div>

            <div class="col-md-6 d-flex flex-column justify-content-start align-items-center">
                <p class="text-start font" id="abouttext" style="display: block;">
                    <span style="color: #007bff99;">
                        Build Apps For Any screen
                    </span><br>
                    <span>
                        flitter transforms the app <br> development process. build ,
                        test,<br> and deploy beautiful mobile ,web, <br>desktop,and
                        embeded apps from <br> a single codebase.
                    </span>
                </p>
                <a class="btn btn-outline-primary rounded-pill col-3 font px-3" id="aboutlink" style="width: fit-content;">Try It in DartPad</a>
            </div>

        </div>

        <div class="row pt-4 justify-content-center">

            <div class="d-flex flex-column flex-md-row flex-lg-row justify-content-center align-items-center">
                <p class="col-lg-9 font" id="aboutfootertext">
                    Google uses cookies to deliver its services, to personaalize ads, and to analyze traffic. you can adjust your privacy
                    <a href="#" class="link">controls anytime</a> in your Google settings. <a href="#" class="link">learn more</a>
                </p>
                <a class="btn btn-primary rounded-pill m-4 col-lg-3 col-md-3 font" id="aboutfooterlink">Get Started</a>
            </div>

        </div>

    </div>

</section>
