

<header class="container-fluid fixed-top p-0 pt-4 glassify" style="width: 100%;">

    <div class="container pb-3">

        <div class="row">

            <img class="col-lg-1 col-md-1 col-2 p-0 me-3" src="~/themes/IranFlutter/src/انجمن فلاتر ایران.jpg" style="border-radius: 10px !important;">
            <img class="col-lg-3 col-md-4 col-6 p-0 px-3" src="~/themes/IranFlutter/src/Iranian Flutter Association.png">

        </div>

    </div>

    <div class="container-fluid p-0">

        <div class="navbar navbar-expand-lg">

            <button class="navbar-toggler p-4 col-sm-2" type="button" style="color: white;"
                    data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="ti-menu"></span>
            </button>

            <div class="collapse navbar-collapse row m-0" id="navbarSupportedContent">

                <div class="navbar-nav form-control-sm col-lg-7 col-md-12 align-items-center pe-4">

                    <div class="nav-item dropdown w">
                        <a class="nav-link px-lg-2 px-md-2 rounded-pill Hoverable text-center font" href="#">
                            اخبار و اطلاعیه
                        </a>
                        <div class="dropdown-menu p-2 border-0 w-100 text-center" container="body">
                            <a class="dropdown-item font" href="#">What's new</a>
                            <a class="dropdown-item font" href="#">Editor Support</a>
                            <a class="dropdown-item font" href="#">Editor Support</a>
                            <a class="dropdown-item font" href="#">Hot Reload</a>
                            <a class="dropdown-item font" href="#">Profiling</a>
                            <a class="dropdown-item font" href="#">Install Flutter</a>
                            <a class="dropdown-item font" href="#">Dev Tools</a>
                            <a class="dropdown-item font" href="#">Cookbook</a>
                            <a class="dropdown-item font" href="#">Tutorials</a>
                        </div>
                    </div>

                    <div class="nav-item dropdown w">
                        <a class="nav-link px-lg-2 px-md-2 rounded-pill Hoverable text-center font" href="#">
                            مقالات
                        </a>
                        <div class="dropdown-menu p-2 border-0 w-100 text-center">
                            <a class="dropdown-item font" href="#">What's new</a>
                            <a class="dropdown-item font" href="#">Editor Support</a>
                            <a class="dropdown-item font" href="#">Editor Support</a>
                            <a class="dropdown-item font" href="#">Hot Reload</a>
                            <a class="dropdown-item font" href="#">Profiling</a>
                            <a class="dropdown-item font" href="#">Install Flutter</a>
                            <a class="dropdown-item font" href="#">Dev Tools</a>
                            <a class="dropdown-item font" href="#">Cookbook</a>
                            <a class="dropdown-item font" href="#">Tutorials</a>
                        </div>
                    </div>

                    <div class="nav-item w text-center">
                        <a class="nav-link px-lg-2 px-md-2 rounded-pill Hoverable font" aria-current="page" href="#">همایش ها</a>
                    </div>

                    <div class="nav-item w text-center">
                        <a class="nav-link px-lg-2 px-md-2 rounded-pill Hoverable font" aria-current="page" href="#">آموزش</a>
                    </div>

                    <div class="nav-item w text-center">
                        <a class="nav-link px-lg-2 px-md-2 rounded-pill Hoverable font" aria-current="page" href="#">آشنایی با انجمن</a>
                    </div>

                    <div class="nav-item w text-center">
                        <a class="nav-link px-lg-2 px-md-2 rounded-pill Hoverable font" aria-current="page" href="#">درباره ما</a>
                    </div>

                </div>

                <div class="container-fluid p-0 col-lg-5 col-md-12 p-2">

                    <form class="rounded-pill HoverableForm d-flex flex-column flex-md-row flex-lg-row justify-content-center align-items-center" style="display: flex;">
                        <div class="input-group p-1 rounded-pill mx-2">
                            <input type="text" class="form-control px-3 py-1 rounded-pill text-white" aria-describedby="basic-addon1">
                            <span class="input-group-text rounded-pill" id="basic-addon1"><i class="fas fa-search me-2 text-light"></i></span>
                        </div>
                        <button class="btn btn-light col-lg-auto col-md-3 font rounded-pill p-1 px-2 m-2" id="headerformbutton">Get Started</button>
                    </form>

                </div>

            </div>

        </div>

    </div>

</header>