@using Blogifier.Shared
@{
    Layout = "layouts/_main.cshtml";
}

<main style="height: 100%;width: 100%;">

    <partial name="components/banner.cshtml" />

    <partial name="components/About.cshtml" />

    <partial name="components/Featured.cshtml" />

    <partial name="components/LatestNews.cshtml" />
</main>